* {
  margin: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#quote-box {
  font-family: "calibri";
  font-size: 19px;
  background-color: white;
  width: 400px;
  height: 300px;
  border: 2px solid grey;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#buttons {
  display: flex;
  justify-content: space-between;
}

#new-quote {
  color: white;
  border-style: none;
  border-radius: 5px;
}

#tweet-quote {
  display: flex;
}
